<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>description</key>
			<string>Registers</string>
			<key>color</key>
			<string>KeywordColor</string>
			<key>strings</key>
			<dict>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>X</key>
				<string></string>
				<key>Y</key>
				<string></string>
				<key>Z</key>
				<string></string>
				<key>I</key>
				<string></string>
				<key>J</key>
				<string></string>
				<key>PC</key>
				<string></string>
				<key>SP</key>
				<string></string>
				<key>EX</key>
				<string></string>
				<key>IA</key>
				<string></string>
				<key>POP</key>
				<string></string>
				<key>PUSH</key>
				<string></string>
				<key>PEEK</key>
				<string></string>
				<key>PICK</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>description</key>
			<string>Basic opcodes</string>
			<key>color</key>
			<string>KeywordColor</string>
			<key>strings</key>
			<dict>
				<key>SET</key>
				<string></string>
				<key>ADD</key>
				<string></string>
				<key>SUB</key>
				<string></string>
				<key>MUL</key>
				<string></string>
				<key>MLI</key>
				<string></string>
				<key>DIV</key>
				<string></string>
				<key>DVI</key>
				<string></string>
				<key>MOD</key>
				<string></string>
				<key>MDI</key>
				<string></string>
				<key>AND</key>
				<string></string>
				<key>BOR</key>
				<string></string>
				<key>XOR</key>
				<string></string>
				<key>SHR</key>
				<string></string>
				<key>ASR</key>
				<string></string>
				<key>SHL</key>
				<string></string>
				<key>IFB</key>
				<string></string>
				<key>IFC</key>
				<string></string>
				<key>IFE</key>
				<string></string>
				<key>IFN</key>
				<string></string>
				<key>IFG</key>
				<string></string>
				<key>IFA</key>
				<string></string>
				<key>IFL</key>
				<string></string>
				<key>IFU</key>
				<string></string>
				<key>ADX</key>
				<string></string>
				<key>SBX</key>
				<string></string>
				<key>STI</key>
				<string></string>
				<key>STD</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>description</key>
			<string>Special opcodes</string>
			<key>color</key>
			<string>KeywordColor</string>
			<key>strings</key>
			<dict>
				<key>JSR</key>
				<string></string>
				<key>INT</key>
				<string></string>
				<key>IAG</key>
				<string></string>
				<key>IAS</key>
				<string></string>
				<key>RFI</key>
				<string></string>
				<key>IAQ</key>
				<string></string>
				<key>HWN</key>
				<string></string>
				<key>HWQ</key>
				<string></string>
				<key>HWI</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>ranges</key>
	<dict>
		<key>SingleQuote</key>
		<dict>
			<key>color</key>
			<string>CharColor</string>
			<key>end</key>
			<string>&apos;</string>
			<key>escape</key>
			<string>\</string>
			<key>start</key>
			<string>&apos;</string>
		</dict>
		<key>DoubleQuote</key>
		<dict>
			<key>color</key>
			<string>StringColor</string>
			<key>end</key>
			<string>&quot;</string>
			<key>escape</key>
			<string>\</string>
			<key>start</key>
			<string>&quot;</string>
		</dict>
		<key>OneLineComment</key>
		<dict>
			<key>color</key>
			<string>CommentColor</string>
			<key>end</key>
			<string>
</string>
			<key>start</key>
			<string>;</string>
		</dict>
	</dict>
	<key>numbers</key>
	<dict>
		<key>color</key>
		<string>NumberColor</string>
		<key>pattern</key>
		<string>\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\b</string>
	</dict>
	<key>wordCharacters</key>
	<string>@_</string>
</dict>
</plist>
