<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ranges</key>
	<dict>
		<key>DoubleQuote</key>
		<dict>
			<key>color</key>
			<string>StringColor</string>
			<key>end</key>
			<string>&quot;</string>
			<key>escape</key>
			<string>\</string>
			<key>start</key>
			<string>&quot;</string>
		</dict>
		<key>OneLineComment</key>
		<dict>
			<key>color</key>
			<string>CommentColor</string>
			<key>end</key>
			<string>
</string>
			<key>start</key>
			<string>//</string>
		</dict>
		<key>BlockComment</key>
		<dict>
			<key>color</key>
			<string>CommentColor</string>
			<key>end</key>
			<string>*/</string>
			<key>start</key>
			<string>/*</string>
		</dict>
		<key>SingleQuote</key>
		<dict>
			<key>color</key>
			<string>CharColor</string>
			<key>end</key>
			<string>&apos;</string>
			<key>escape</key>
			<string>\</string>
			<key>start</key>
			<string>&apos;</string>
		</dict>
	</dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>description</key>
			<string>Go reserved keywords</string>
			<key>color</key>
			<string>KeywordColor</string>
			<key>strings</key>
			<dict>
				<key>break</key>
				<string></string>
				<key>case</key>
				<string></string>
				<key>chan</key>
				<string></string>
				<key>const</key>
				<string></string>
				<key>continue</key>
				<string></string>
				<key>default</key>
				<string></string>
				<key>defer</key>
				<string></string>
				<key>else</key>
				<string></string>
				<key>fallthrough</key>
				<string></string>
				<key>for</key>
				<string></string>
				<key>func</key>
				<string></string>
				<key>go</key>
				<string></string>
				<key>goto</key>
				<string></string>
				<key>if</key>
				<string></string>
				<key>import</key>
				<string></string>
				<key>interface</key>
				<string></string>
				<key>map</key>
				<string></string>
				<key>package</key>
				<string></string>
				<key>range</key>
				<string></string>
				<key>return</key>
				<string></string>
				<key>select</key>
				<string></string>
				<key>struct</key>
				<string></string>
				<key>switch</key>
				<string></string>
				<key>type</key>
				<string></string>
				<key>var</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>numbers</key>
	<dict>
		<key>color</key>
		<string>NumberColor</string>
		<key>pattern</key>
		<string>\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\b</string>
	</dict>
	<key>wordCharacters</key>
	<string>@_</string>
</dict>
</plist>
